#box {
    height: 100px;
    width: 100px;
    background-color: black;
}

#box2 {
    margin: 50px;
    display: flex;
    width: auto;
    height: 100px;
}

.dark {
    background-color: black;
}

.white {
    background-color: white;
}