body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
    font-style: oblique;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    /* border: 1px solid black; */
}

button {
    text-align: center;
    height: 35px;
    width: 80px;
    color: white;
    font-style: oblique;
    background-color: #29A744;
    border: 1px solid chartreuse;
    border-radius: 3px;
}

button:active {
    transform: scale(1.1);
}